/* reset styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: calc(1em + 1rem);
  text-decoration: none;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  width: 100vw;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  text-decoration: none;
}

input:focus {
  outline: 0;
}

ul,
ol {
  padding-left: 16px;
  margin: 0;
}

p li {
  font-size: 15px;
  font-weight: normal;
}

h1 {
  font-weight: bold;
  font-size: 32px;
}
h2 {
  font-size: 18px;
  font-weight: normal;
}
h3 {
  font-size: 18px;
  font-weight: bold;
}
h4 {
  font-size: 16px;
  font-weight: normal;
}

/* Tablet style */
@media only screen and (min-width: 450px) {
  p li {
    font-size: 18px;
  }

  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
}

/* Desktop style */
@media only screen and (min-width: 769px) {
}
/* end of reset styles */
