:root {
  --warning-color: #ff5252;
  --primary-color: #a445ed;
  --light-grey-bg-color: #f4f4f4;
  --lines-light-grey: #e9e9e9;
  --text-color-dark: #2d2d2d;
  --bg-color: #fff;
  --text-color: #000;
  --grey-color: #757575;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
}
.toggle {
  display: flex;
  gap: 10px;
  height: 32px;
}

/* light mode theme starts here */
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --text-color: #000;
  }
}
/* light mode theme ends here */
/* dark mode theme starts here */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --text-color: #fff;
    --light-grey-bg-color: #3a3a3a;
    --text-color-dark: #f2f2f2;
  }
}

.dark-mode {
  --bg-color: #000;
  --text-color: #fff;
  --light-grey-bg-color: #3a3a3a;
  --text-color-dark: #f2f2f2;
}
/* dark mode style ends here */

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* container style */
.container {
  margin: 0 auto;
  min-width: 375px;
  padding: 0 24px;
}

.container ~ .container {
  margin-top: 24px;
}

/* top bar style */
nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 24px;
}

.top-right-styling-menu {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.vertical-grey-line {
  border-right: 1px solid var(--lines-light-grey);
}

/* Search bar style */
.search-container {
  width: 100%;
}

.search-box {
  position: relative;
}

.search-input {
  width: 100%;
  height: 48px;
  background-color: var(--light-grey-bg-color);
  border: 1px solid transparent;
  border-radius: 16px;
  font-size: 14px;
  /* Adds space for input content */
  padding: 0 48px 0 16px;
  border: none;
}

.search-input:focus {
  border: 1px solid var(--primary-color);
}

/* to be toggle by warning message */
.search-input--warning {
  border: 1px solid var(--warning-color);
}

.search-container .search-icon-btn {
  cursor: pointer;
}

.search-button {
  cursor: pointer;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
}

/* warning message */
.warning-message {
  color: var(--warning-color);
  font-size: 14px;
}

.warning-message--hidden {
  visibility: hidden;
}

/* Custom select styles */

.custom-select {
  position: relative;
  width: max-content;
  max-width: 100%;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--text-color-dark);
}

.select-button {
  width: 100%;
  padding: 0 10px 0;
  font-size: 1.15rem;
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.selected-value {
  text-align: left;
  margin-right: 0.8rem;
}
.select-dropdown {
  position: absolute;
  z-index: 2;
  right: 0;
  list-style: none;
  width: 11.5rem;
  box-shadow: 0 5px 30px #979797;
  background-color: #fff;
  border-radius: 16px;
  padding: 1rem;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 1rem;
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
}

.custom-select.active .select-dropdown {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.select-dropdown li {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.select-dropdown li label {
  width: 100%;
  cursor: pointer;
}

.select-dropdown li:hover {
  color: #a445ed;
}

.select-dropdown input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
}

label[for="sans-serif"] {
  font-family: "Inter", sans-serif;
}

label[for="serif"] {
  font-family: "Lora", serif;
}

label[for="mono"] {
  font-family: "Inconsolata", monospace;
}

/* results styles */
.title-audio-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 31px;
}

.title {
  text-transform: lowercase;
}

.phonetic-subtitle {
  color: var(--primary-color);
}
.gramitical-type_wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding-bottom: 31px;
}

.horizontal-grey-line {
  display: flex;
  border-top: 1px solid var(--lines-light-grey);
}

.subtitle-light-grey {
  color: var(--grey-color);
  padding-bottom: 27px;
}
.underline-light-grey {
  font-size: 14px;
  color: var(--grey-color);
  text-decoration: underline;
  padding-top: 24px;
}

ul li {
  margin: 0px;
}
li::marker {
  color: var(--primary-color);
}
.list-of-meanings {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.synonyms_wrapper {
  display: flex;
  padding-top: 24px;
  gap: 32px;
}

.purple-paragraph {
  color: var(--primary-color);
  font-weight: bold;
}

a {
  color: var(--text-color-dark);
  text-decoration: underline;
  text-decoration-color: rgba(45, 45, 45, 0.5);
  font-size: 14px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.underline-section-wrapper {
  padding-top: 32px;
}

.example {
  padding-top: 13px;
}

/* Tablet style */
@media only screen and (min-width: 450px) {
  .container {
    max-width: 689px;
    padding: 10px 50px;
  }
  /* top bar style */
  nav {
    display: flex;
    justify-content: space-between;
  }

  .top-right-styling-menu {
    gap: 10px;
  }

  .play-button {
    width: 75px;
    height: 75px;
  }

  .gramitical-type_wrapper {
    grid-template-columns: 1fr 7fr;
    padding: 43px 0;
  }
  ul li {
    margin-left: 16px;
  }

  .source-wrapper {
    display: flex;
    align-items: baseline;
    gap: 32px;
  }

  .underline-section-wrapper {
    padding-top: 39px;
  }
}

/* Desktop style */
@media only screen and (min-width: 769px) {
  .container {
    max-width: 737px;
  }
}
