/* the beginning of styling the search bar */
.search-container {
    position: relative;
    display: inline-block;
}

/* Adds space for the icon */
.search-container input[type="text"] {
    padding-right: 20px; 
}

.search-container .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
